@import "./mixins.scss";
@import "./colors.scss";

.contactUsContainer {
  @include flex(
    $flexFlow: nowrap,
    $alignItems: flex-start,
    $justifyContent: space-between
  );
  gap: 30px;
  @include for-phone-only {
    flex-direction: column;
    img {
      width: 100%;
    }
  }

  @include for-tablet-portrait-up {
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
  }

  @include for-tablet-landscape-up {
    flex-direction: row;
  }

  @include for-desktop-up {
    flex-direction: row;
  }
}

.contactTitle {
  @include title;
  margin-top: 120px;
  @include for-phone-only {
    font-size: 45px;
    margin-top: 40px;
  }
  @include for-tablet-portrait-up {
    text-align: center;
  }

  @include for-tablet-landscape-up {
    text-align: start;
  }

  @include for-desktop-up {
    text-align: start;
  }
}

.name {
  @include forms;
  @include for-phone-only {
    width: 100%;
  }
}

.number {
  @include forms;
  @include for-phone-only {
    width: 100%;
  }
}

.E-mail {
  @include forms;
  @include for-phone-only {
    width: 100%;
  }
}

.services {
  @include forms;
  @include for-phone-only {
    width: 100%;
  }
}

.message {
  @include forms;
  height: 115px;
  @include for-phone-only {
    width: 100%;
  }
}

.send {
  @include main-button;
  margin-top: 21px;
  color: $text-white;
  background-color: $main-text;
  & span {
    padding-right: 5px;
  }
  @include for-phone-only {
    margin: 0 auto;
    margin-top: 20px;
  }

  @include for-tablet-portrait-up {
    margin: 0 auto;
    justify-content: center;
    margin-top: 35px;
  }

  @include for-tablet-landscape-up {
    margin: 0px;
    margin-top: 35px;
    margin-left: 10px;
  }

  @include for-desktop-up {
    margin: 0px;
    margin-top: 35px;
  }
}

.descr {
  @include flex($justifyContent: start);
  max-width: 356px;
  font-size: 14px;
  margin-top: 22px;
  padding-left: 45px;
  @include for-phone-only {
    text-align: start;
    padding: 0px 20px;
  }
}

.formsContact {
  @include for-phone-only {
    width: 100%;
  }
}

.contactImage {
  @include for-tablet-landscape-up {
    img {
      width: 100%;
    }
  }
}
