@import "./App.scss";
@import "./colors.scss";
@import "./header.scss";
@import "./headerMenu.scss";
@import "./house.scss";
@import "./Company.scss";
@import "./Tusks.scss";
@import "./ourProject.scss";
@import "./contactUs.scss";
@import "./footer.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:ital,wght@0,400;1,200&family=Ubuntu:ital,wght@1,300&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  // background-color: lightgray;
  background-color: $text-white;
}

input,
textarea {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}
